<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          
        </ion-buttons>
        
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-slides pager="true">


    <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Nossa História</h1>
            </ion-col>
               No dia 2 de fevereiro de 1941, algumas pessoas se reuniram, no Clube 7 de Setembro em Caçador,
               Santa Catarina. Elas estavam definindo a criação de uma entidade.
               Talvez elas nem imaginassem na época, na força que este ato representaria no futuro, 
                mas tinham certeza que o associativismo era a melhor forma para crescer. E estavam certos.
                Esta reunião precedia outras duas realizadas: uma no dia 2 de janeiro e a outra, no dia 19. 
                Na ata da primeira, podia-se entender o que aqueles empreendedores da época, seguindo uma tendência 
                regional queriam: 
                “Acta da reunião realizada nesta cidade de Caçador em 2/1/41, para a fundação da Associação Comercial
                de Caçador”. Um mês depois, a Associação Comercial de Caçador – que hoje é Associação Empresarial -
                  (Acic) estava criada.
                A entidade, que serviria aos interesses dos grandes madeireiros de Caçador, foi se transformando, 
                aos poucos, em referência, tanto para o município quanto para o Estado e país. Além disso, 
                empresários associados eram auxiliados, 
                com a divulgação de notas na imprensa da época, com o apoio da Acic.
          </ion-row>
        </ion-grid>
    </ion-slide>

    

    <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Missão da ACIC</h1>
            </ion-col>
            “Representar e desenvolver empreendedores e empresas de Caçador e região, oferecendo soluções
             inovadoras e manifestando a força do associativismo, da inovação e do conhecimento em todas as nossas ações”.
          </ion-row>
        </ion-grid>
    </ion-slide>


    <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Visão da ACIC</h1>
            
            “Consolidar-se como entidade com gestão moderno e eficiente, fortalecendo a representação
             institucional e
             a oferta de soluções e serviços capazes de atrair e fidelizar associados”.
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-slide>


  </ion-slides>

  
</ion-content>
