<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{associado.associado_nome}}</ion-card-title>
      <p>{{associado.associado_razao}}</p>
      <p>{{associado.associado_email}}</p>
      <p>{{associado.associado_telefone}}</p>
      <p>{{associado.associado_cidade}}</p>
      <p>{{associado.associado_site}}</p>
    
    </ion-card-content>
  </ion-card>
</ion-content>

