<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>

    <ion-title>
     Home page dos associados
    </ion-title> 
 
    <ion-buttons slot="end">
      
      <ion-button routerLink="/createAssociado"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar..."  (ionInput)="filtrarItens($event)" clearInput></ion-searchbar>
</ion-header>

<ion-content>
 
  
  
    <ion-list>
    
    <ion-item-sliding *ngFor="let associado of associados">
        <ion-card>
          <ion-item  detail lines="" routerLink="/detailAssociado/{{associado.key}}">
        <ion-icon name="people" slot="start"></ion-icon>
        {{associado.associado_nome}}
        
    </ion-item>
    <ion-item >
        <ion-icon name="create" color="primary" (click)="editAssociado(associado.key)" slot="end"></ion-icon>
        <ion-icon name="trash" color="danger" (click)="delete(associado.key)" slot="end"></ion-icon>
      </ion-item>

    </ion-card>
    </ion-item-sliding>
 
  </ion-list>

</ion-content>
