<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pesquisa de satisfação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" onclick="window.open('https://forms.gle/gv5fyphWZf8Q2xrX9', '_system', 'location=yes'); return false;">Pesquisa</ion-button>
  <ion-button expand="full" onclick="window.open('https://docs.google.com/forms/d/1K4cGSJ9yrCEiQ-XO2DWm02bb_ABNfwDWW-K7Hs0L2y0/edit', '_system', 'location=yes'); return false;">Configurar/Respostas</ion-button>
  NÃO DELETAR FORMULÁRIO!
</ion-content>