<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>detail-evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
          <ion-card-title>{{evento.evento_titulo}}</ion-card-title>
          <p>{{evento.evento_data}}</p>
          <p>{{evento.evento_hora}}</p>
          <p>{{evento.evento_local}}</p>
          <p>{{evento.evento_telefone}}</p>
          <p>{{evento.evento_precoAssociado}}</p>
          <p>{{evento.evento_descricao}}</p>
          <p>{{evento.evento_preco}}</p>
          
          
        
        </ion-card-content>
      </ion-card>
</ion-content>
