<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>

    <ion-title>detail-emprego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
          <ion-card-title>{{emprego.emprego_cargo}}</ion-card-title>
          <p>{{emprego.emprego_descricao}}</p>
          <p>{{emprego.emprego_email}}</p>
          <p>{{emprego.emprego_empresa}}</p>
          <p>{{emprego.empregoo_remuneracao}}</p>
          <p>{{emprego.emprego_telefone}}</p>
        
        </ion-card-content>
      </ion-card>
</ion-content>
