img {
    background-image: url("../../assets/image/logo.png");
    background-size: cover;
    height: 201px;
    width: 201px;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}

.button {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    width: 300px;
    padding: 3px;
}