<br>
<br>

<img src="assets/image/logo.png" alt="logo">

<br>
<br>

<ion-content>
  <ion-button expand="block" routerLink="/noticiaBeta" class="button">Notícias</ion-button>
  <ion-button expand="block" routerLink="/homeAssociado" class="button">Associados</ion-button>
  <ion-button expand="block" routerLink="/cadastroBeneficio" class="button">Benefícios</ion-button>
  <ion-button expand="block" routerLink="/homeEmprego" class="button">Empregos</ion-button>
  <ion-button expand="block" routerLink="/homeEvento" class="button">Eventos</ion-button>
  <ion-button expand="block" routerLink="/" class="button">Torne-se um Associado</ion-button>
  <ion-button expand="block" routerLink="/Sobre" class="button">Sobre</ion-button>
  <ion-button expand="block" routerLink="/homePesquisa" class="button">CONFIGURAÇÕES DE PESQUISA</ion-button>
  <ion-button expand="block" (click)="abrirPagina()" class="button">TESTE DE MENU</ion-button>
</ion-content>