
<ion-header>
  <ion-toolbar>
     

    <ion-title>
     Menu
    </ion-title>
    

  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-button expand="full" routerLink="/cadastroBeneficio">Cadastro Beneficios</ion-button>
  <ion-button expand="full" routerLink="/homeAssociado">Cadastro Associados</ion-button>
  <ion-button expand="full" routerLink="/homeEmprego">Cadastro Emprego</ion-button>
  <ion-button expand="full" routerLink="/homePesquisa">Configurações Pesquisa</ion-button>
  <ion-button expand="full" routerLink="/homeEvento">Cadastrar Eventos</ion-button>
  <ion-button expand="full" routerLink="/">Torne-se Associado</ion-button>
  <ion-button expand="full" routerLink="/Sobre">Sobre</ion-button>
  <ion-button expand="full" (click)="abrirPagina()">Menu</ion-button>


</ion-content> 